---
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import logoPoli from '../assets/images/logo-polito.png';
import logoPoliDark from '../assets/images/logo-polito-white.png';
import logoUniBo from '../assets/images/logo-unibo.png';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
  >
    <Fragment slot="title">
      The Team
    </Fragment>

    <Fragment slot="subtitle">
      Discover the two Italian universities part of the DIGI-Teens project.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about-polito"
    isReversed
    items={[
      {
        title: 'Description',
        description:
          'Politecnico di Torino is a public research university in Turin, Italy. Established in 1859, it is Italy\'s oldest technical university. The university offers undergraduate, graduate, and postgraduate programs in engineering, architecture, and industrial design.',
      },
      {
        title: 'Role',
        description:
          'Participate with the e-Lite group of the Department of Control and Computer Engineering (DAUIN). The project\'s Principal Investigator is prof. Luigi De Russis.',
      },
      {
        title: 'Expertise',
        description:
          'Bring expertise in End-User Development, Mobile and Web-based Systems, and Digital Wellbeing.',
      },
    ]}
    image={{
      src: logoPoli,
      alt: 'Logo Politecnico di Torino',
      height: 218,
    }}
    imageDark={{
      src: logoPoliDark,
      alt: 'Logo Politecnico di Torino',
      height: 218,
    }}
    
    callToAction={{
      target: '_blank',
      text: 'Visit Politecnico\'s website',
      icon: 'tabler:chevron-right',
      href: 'https://www.polito.it/en',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Politecnico di Torino</h3>
    </Fragment>

  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="about-unibo"
    isAfterContent={true}
    items={[
      {
        title: 'Description',
        description:
          'Università di Bologna is a public research university in Bologna, Italy. It is the oldest university in the world, founded in 1088. The university offers undergraduate, graduate, and postgraduate programs in arts, humanities, and sciences.',
      },
      {
        title: 'Role:',
        description: 'Participate with the Department of Computer Science and Engineering (DISI). The project\'s co-Principal Investigator is prof. Catia Prandi.',
      },
      {
        title: 'Expertise',
        description:
          'Bring expertise in Gamification and Game Thinking, and Participatory Design for social good and society-related issues.',
      },
    ]}
    image={{
      src: logoUniBo,
      alt: 'Logo Università di Bologna',
    }}
    imageDark={{
      src: logoUniBo,
      alt: 'Logo Università di Bologna',
    }}
    callToAction={{
      target: '_blank',
      text: 'Visit the university website',
      icon: 'tabler:chevron-right',
      href: 'https://www.unibo.it/en',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Università di Bologna</h3>
    </Fragment>

  </Content>

</Layout>
