---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'DIGI-Teens',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Discover more',
        href: '/project',
        target: '_blank',
        icon: 'tabler:compass',
      },
      { text: 'See the updates', href: '/blog' },
    ]}
  >
    <Fragment slot="title">
      Improving <span class="text-accent dark:text-white highlight">Digi</span>tal Wellbeing <br />with and for <span
        class="text-accent dark:text-white highlight">Teens</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">DIGI-Teens</span> is a PRIN 2022 research project that aims at developing a novel gamification
        platform for education on digital wellbeing at high schools.
      </span>
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'High Schools', amount: '2' },
      { title: 'Students', amount: '75' },
      { title: 'Universities', amount: '2' },
      { title: 'Researchers', amount: '7' },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Latest Updates"
    information="Stay up-to-date with the initiatives from the DIGI-Teens project."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
